
<!--/main-->
<div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">

    <h1 id="section1">Administracao de Centros de Custo</h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success alert-dismissable" ng-show="alertaCadastro">
                <button type="button" class="close" ng-click="alertaCadastro = false;">×</button>
                <strong>{{ infoTitulo }}</strong>
                {{ infoMsg }}
            </div>
            <div class="alert alert-danger alert-dismissable" ng-show="erroCadastro">
                <button type="button" class="close" ng-click="erroCadastro = false;">×</button>
                <strong>{{ infoTitulo }}</strong>
                {{ infoMsg }}
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="showFormCadastro">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4 ng-show="edit">Adicionar Centro de Custo...</h4>
                    <h4 ng-hide="edit">Alterar Centro de Custo...</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="formCadastro">
                <div class="form-group">
                    <label class="col-xs-3 control-label">ID:</label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="id" ng-disabled="true" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Centro de custo:</label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="centroCusto" name="centroCusto" placeholder="Centro de custo" required>
                        <span class="text-danger" ng-show="formCadastro.centroCusto.$dirty || formCadastro.centroCusto.$invalid">
                            <span ng-show="formCadastro.centroCusto.$error.required">Requerido!</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">ID externo:</label>
                    <div class="col-xs-9">
                        <input type="number" ng-model="idReferenciaExterna" name="idReferenciaExterna" placeholder="ID Externo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Data Cria&ccedil;&atilde;o:</label>
                    <div class="col-xs-9">
                        <input type="datetime" ng-model="dataCriacao" ng-disabled="true" placeholder="...">
                    </div>
                </div>
            </form>

            <hr>

            <div class="row">
                <div class="col-xs-4 text-right">
                    <button class="btn btn-success" ng-disabled="formCadastro.centroCusto.$invalid"  ng-click="salvarForm()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>
                </div>
                <div class="col-xs-8">
                    <button class="btn btn-success" ng-click="abrirForm('cancel')">
                        <span class="glyphicon glyphicon-eject"></span> Cancelar
                    </button>
                </div>
            </div>

        </div><!--/panel-body-->
    </div><!--/panel-->


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8"><h4>Listagem de centros de custo</h4> </div>
                <div class="col-xs-4, text-right">
                    <button class="btn btn-success" ng-click="abrirForm('new')" style="margin-right: 5px;" title="Adicionar">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Centro Custo</th>
                <th>ID Externo</th>
                <th>Data Cria&ccedil;&atilde;o</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in centrosCusto">
                <td>
                    <button class="btn btn-primary" ng-click="abrirForm($index);" title="Alterar">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="removerRegistro(x.id);" title="Remover">
                        <span class="glyphicon glyphicon-remove" ></span>
                    </button>
                </td>
                <td>{{ x.id}}</td>
                <td>{{ x.centroCusto }}</td>
                <td>{{ x.idReferenciaExterna }}</td>
                <td>{{ x.dataCriacao | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
    </div><!--/panel-->

</div><!--/.row-->
